.metaList .ant-list-item-meta-content .ant-list-item-meta-description
{
    margin-top: 20px !important;
}

.metaList .ant-list-item-meta-content .ant-list-item-meta-title
{
    margin-top: 15px !important;
}
.commentDateTime
{
    margin-top: 30px !important;
}

.commentBox
{
    margin-top: 10px;
}