.profileCard1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 45%;
  height: 100%;
}

.bioDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.profileCard1 hr {
  border: 1px solid rgb(231, 229, 229);
  line-height: 10px !important;
  margin-right: 160px;
}

.profileContainer {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1023px) {
  .bioDiv {
    display: flex;
    flex-direction: column;
  }
  .profileContainer {
    flex-direction: column;
  }
  .profileCard1,
  .profileCard2 {
    width: 100%;
    margin-top: 20px;
  }
}

.uploadBtn .ant-upload-wrapper {
  float: right !important;
}

.profileCard2 hr {
  color: gainsboro;
}
