.options
{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.options span
{
    padding: 10px 0px 0px 7px;
    align-items: center;
    justify-content: center;
    
}

.cardsContainer
{
    display: flex;
    flex-direction: row;

}